@model BetterDays.Pages.Index

@{
    const int neighboringPagesShown = 5;

    var (shownRangeStart, shownRangeSize) =
        Model.TotalPages <= neighboringPagesShown
            ? (1, Model.TotalPages)
            : (
                Math.Clamp(
                    Model.CurrentPage - neighboringPagesShown / 2,
                    1, Model.TotalPages - neighboringPagesShown + 1),
                neighboringPagesShown
            );
    var shownRangeEnd = shownRangeStart + shownRangeSize - 1;

    var list = new List<int?>();

    if (shownRangeStart > 1)
    {
        list.Add(1);
    }

    if (shownRangeStart > 3)
    {
        list.Add(null);
    }
    else if (shownRangeStart > 2)
    {
        list.Add(2);
    }

    list.AddRange(Enumerable.Range(shownRangeStart, shownRangeSize).Select(x => (int?)x));

    if (shownRangeEnd < Model.TotalPages - 2)
    {
        list.Add(null);
    }
    else if (shownRangeEnd < Model.TotalPages - 1)
    {
        list.Add(Model.TotalPages - 1);
    }

    if (shownRangeEnd < Model.TotalPages)
    {
        list.Add(Model.TotalPages);
    }
}

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        @foreach (var pageItem in list)
        {
            if (pageItem is not null)
            {
                <li class="page-item @(Model.CurrentPage == pageItem ? "active" : "")">
                    <a class="page-link" asp-route-currentPage="@pageItem">@pageItem</a>
                </li>
            }
            else
            {
                <li class="page-item disabled"><a class="page-link">...</a></li>
            }
        }
    </ul>
</nav>
