@page
@model BetterDays.Pages.Index
@{
    ViewData["Title"] = "Index";
}

@foreach (var day in Model.Items)
{
    <h2>@day.Date.ToString("dd MMM yyyy")</h2>
    <p>@day.Comment</p>
    <ul>
        @foreach (var deed in day.DoneDeeds)
        {
            <li>@deed</li>
        }
    </ul>
}
